.sticky-table.sticky-headers.sticky-ltr-cells
  .loader-container
    = render 'layouts/loader_indicator'
  %table#main-table.table-bordered.table-hover.table.table-sm{pagination: "true", 'rows-count' => @tests_names.size}
    %thead
      %tr.sticky-row
        %th.sticky-cell.v-align-middle{:scope => "col"} Test Name \ Tests Run
        - @final_result.each do |test_run|
          %th.text-center.v-align-top{:scope => "col"}
            %button.btn.btn-link.simple-link{"data-content" => performance_test_run_info(test_run), "data-toggle" => "popover", "data-placement" => "top", :title => "Info", :type => "button"}
              = test_run['jenkins_id']
            .xx-small-font
              = test_run['maxscale_source']
              %br
              = test_run['start_time'].to_s.delete 'UTC'
    %tbody
      - @tests_names.each do |test_name|
        %tr
          %th.sticky-cell{:scope => "row"}
            = test_name

          - @final_result.each do |test_run|
            %td.text-center
              = test_run[test_name]

- if !@result_is_empty.nil? && @result_is_empty
  %strong.row.justify-content-center.text-muted
    No results found