.sticky-table.sticky-headers.sticky-ltr-cells
  .loader-container
    = render 'layouts/loader_indicator'
  %table#main-table.table-bordered.table-hover.table.table-sm{pagination: "true", 'rows-count' => @tests_names.size}
    %thead
      %tr.sticky-row
        %th.sticky-cell.v-align-middle{:scope => "col"} Test Name \ Tests Run
        - @target_builds.each do |target_build|
          %th.text-center.v-align-top{:scope => "col"}
            %div{ id: "target_build_info_#{target_build['id']}", style: 'display: none' }
              = render :partial => "test_run_info", locals: { target_build: target_build }
            %button.btn.btn-link.simple-link.target-build-button{"data-div-id" => "#target_build_info_#{target_build['id']}", :type => "button", onclick: "onTargetClick('#button_#{target_build['id']}', '#target_build_info_#{target_build['id']}')", id: "button_#{target_build['id']}"}
              = target_build['id']
            .xx-small-font
              = target_build['maxscale_source']
              %br
              = target_build['target']
              %br
              = target_build['start_time'].to_s.delete 'UTC'
    %tbody
      - @tests_names.each do |test_name|
        %tr
          %th.sticky-cell{:scope => "row"}
            = test_name

          - @target_builds.each do |target_build|
            %td.text-center
              - cur_test_results = test_result(@final_result, target_build, test_name)
              - cur_test_results.each do |cur_test_result|
                %a{href: test_logs_url(test_run_by_id(cur_test_result['test_run_id'])['job_name'], test_run_by_id(cur_test_result['test_run_id'])['jenkins_id'], test_name), class: icon_color(cur_test_result)}
                  = ion_icon (format_test_result cur_test_result)
                .xx-small-font
                  = 'Has core dump' if !cur_test_result.nil? && !cur_test_result['core_dump_path'].nil? && !cur_test_result['core_dump_path'].empty?
                - if !cur_test_result.nil? && !cur_test_result['leak_summary'].nil?
                  %button.btn.btn-link.btn-sm.simple-link.p-0.m-0.xx-small-font{'data-content': leak_summary_info(cur_test_result['leak_summary']), "data-toggle" => "popover", "data-placement" => "top", :title => "Leak summary", :type => "button"}
                    Leak summary

- if !@result_is_empty.nil? && @result_is_empty
  %strong.row.justify-content-center.text-muted
    No results found
