.container-fluid
  .row.justify-content-center
    .col-sm-12.col-md-10.col-8
      .row
        .card.width-100
          .card-body
            %form#filtersForm.width-100{:action => @action_path, :method => "post", 'data-remote' => true}
              .row
                .col
                  .form-group.row
                    .col-3
                      %label{:for => "dbms_select"} Product
                    .col
                      %select#dbms_select.form-control{:multiple => "multiple", :name => "dbms[]"}
                        %option{:value => "All", :selected => option_selected?("All", @selected_filters_values[:dbms])} All
                        - @dbms_options.each do |dbms|
                          %option{:value => dbms, :selected => option_selected?(dbms, @selected_filters_values[:dbms])}
                            = dbms
                  .form-group.row
                    .col-3
                      %label{:for => "test_tool_select"} Test tool
                    .col
                      %select#test_tool_select.form-control{:multiple => "multiple", :name => "test_tool[]"}
                        %option{:value => "All", :selected => option_selected?("All", @selected_filters_values[:test_tool])} All
                        - @test_tool_options.each do |test_tool|
                          %option{:value => test_tool, :selected => option_selected?(test_tool, @selected_filters_values[:test_tool])}
                            = test_tool
                  .form-group.row
                    .col-3
                      %label{:for => "maxscale_source_select"} Maxscale source
                    .col
                      %select#maxscale_source_select.form-control{:multiple => "multiple", :name => "maxscale_source[]"}
                        %option{:value => "All", :selected => option_selected?("All", @selected_filters_values[:maxscale_source])} All
                        - @maxscale_source_options.each do |maxscale_source|
                          %option{:value => maxscale_source.maxscale_source, :selected => option_selected?(maxscale_source.maxscale_source, @selected_filters_values[:maxscale_source])}
                            = maxscale_source.maxscale_source
                  .form-group.row
                    .col-3
                      %label{:for => "maxscale_threads_select"} Maxscale threads
                    .col
                      %select#maxscale_threads_select.form-control{:multiple => "multiple", :name => "maxscale_threads[]"}
                        %option{:value => "All", :selected => option_selected?("All", @selected_filters_values[:maxscale_threads])} All
                        - @maxscale_threads_options.each do |maxscale_threads|
                          %option{:value => maxscale_threads.maxscale_threads, :selected => option_selected?(maxscale_threads.maxscale_threads, @selected_filters_values[:maxscale_threads])}
                            = maxscale_threads.maxscale_threads
                  .form-group.row
                    .col-3
                      %label{:for => "sysbench_threads_select"} Sysbench threads
                    .col
                      %select#sysbench_threads_select.form-control{:multiple => "multiple", :name => "sysbench_threads[]"}
                        %option{:value => "All", :selected => option_selected?("All", @selected_filters_values[:sysbench_threads])} All
                        - @sysbench_threads_options.each do |sysbench_threads|
                          %option{:value => sysbench_threads.sysbench_threads, :selected => option_selected?(sysbench_threads.sysbench_threads, @selected_filters_values[:sysbench_threads])}
                            = sysbench_threads.sysbench_threads
                  .form-group.row
                    .col-3
                      %label{:for => "jenkins_build_input"} Test run (Jenkins build id)
                    .col
                      %input#jenkins_build_input.form-control{:placeholder => "Example: 5-6, 10-12, 15", :type => "text", :name => "jenkins_build", :value => @selected_filters_values[:jenkins_build]}
                  .form-group.row
                    .col-3
                      %label{:for => "time_interval_dropdown"} Time interval
                    .col
                      %select#time_interval_dropdown.form-control.form-control{:name => "time_interval_dropdown"}
                        %option{value: 1} 1 day
                        %option{value: 2} 2 days
                        %option{value: 5, selected: true} 5 days
                        %option{value: -1} All time
                        %option{value: -2} Set interval
                  .form-group.row#time_interval_form
                    .col-3
                    .col
                      %input#time_interval_start.form-control{:placeholder => "", :type => "date", :name => "time_interval_start", :value => @selected_filters_values[:time_interval_start]}
                    .col
                      %input#time_interval_finish.form-control{:placeholder => "", :type => "date", :name => "time_interval_finish", :value => @selected_filters_values[:time_interval_finish]}


                  .form-group.row
                    .col-4
                      .col
                        %label{:for => "x_axis_dropdown"} X-Axis
                      .col
                        %select#x_axis_dropdown.form-control.form-control{:name => "x_axis_dropdown"}
                          %option{value: 'maxscale_cnf_file_name', selected: option_selected?('maxscale_cnf_file_name', @selected_filters_values[:x_axis_name])}
                            Maxscale config file
                          %option{value: 'maxscale_source', selected: option_selected?('maxscale_source', @selected_filters_values[:x_axis_name])}
                            Maxscale source
                          %option{value: 'maxscale_threads', selected: option_selected?('maxscale_threads', @selected_filters_values[:x_axis_name])}
                            Maxscale threads
                          %option{value: 'sysbench_threads', selected: option_selected?('sysbench_threads', @selected_filters_values[:x_axis_name])}
                            Sysbench threads
                    .col-4
                      .col
                        %label{:for => "y_axis_dropdown"} Y-Axis
                      .col
                        %select#y_axis_dropdown.form-control.form-control{:name => "y_axis_dropdown"}
                          %option{value: 'maxscale_cnf_file_name', selected: option_selected?('maxscale_cnf_file_name', @selected_filters_values[:y_axis_name])}
                            Maxscale config file
                          %option{value: 'maxscale_source', selected: option_selected?('maxscale_source', @selected_filters_values[:y_axis_name])}
                            Maxscale source
                          %option{value: 'maxscale_threads', selected: option_selected?('maxscale_threads', @selected_filters_values[:y_axis_name])}
                            Maxscale threads
                          %option{value: 'sysbench_threads', selected: option_selected?('sysbench_threads', @selected_filters_values[:y_axis_name])}
                            Sysbench threads
                    .col-4
                      .col
                        %label{:for => "target_field_dropdown"} Value
                      .col
                        %select#target_field_dropdown.form-control.form-control{:name => "target_field_dropdown"}
                          - @tests_names.each do |test_name|
                            %option{value: test_name, selected: option_selected?(test_name, @selected_filters_values[:target_field])}
                              = test_name

                .col
                  #flashesContainer
                  .form-group
                    .input-group-prepend.align-items-start.justify-content-between
                      .form-check
                        %input.form-check-input{id: "use_sql_query_check", type: "checkbox", value: "true", name: "use_sql_query", checked: !@selected_filters_values[:use_sql_query].nil?}
                        %label.form-check-label{:for => "use_sql_query_check"} Custom Filter
                      %button.btn.btn-sm.btn-link{"data-target" => "#sqlQueryHelpModal", "data-toggle" => "modal", :type => "button"}
                        = ion_icon('help-circled')
                    %textarea#sql_query_textarea.form-control{:rows => "4", :type => "text", :name => "sql_query"}
                      = @selected_filters_values[:sql_query]

              / row with hidden fields (for pagination)
              .row
                %input#filterPage.form-control{:type => 'hidden', :name => "filter_page", :value => @filter_page}

              .row.align-items-center
                .col
                  %button#submitButton.btn.btn-primary.btn-block{:type => "submit"} Submit
      .row
        .col
          #main-table-container{style: "padding-bottom: 150px;"}
            = render 'filters/performance_test_axes_result_table'