.container-fluid
  .row.justify-content-center
    .col-sm-12.col-md-10.col-8
      .row
        .card.width-100
          .card-body
            %form#filtersForm.width-100{:action => filter_path, :method => "post"}
              .row
                .col
                  .form-group.row
                    .col-3
                      %label{:for => "mariadb_version_select"} MariaDB version
                    .col
                      %select#mariadb_version_select.form-control{:multiple => "multiple", :name => "mariadb_version[]"}
                        %option{:value => "All", :selected => option_selected?("All", @selected_filters_values[:mariadb_version])} All
                        - @mariadb_version_options.each do |mariadb_version|
                          %option{:value => mariadb_version.mariadb_version, :selected => option_selected?(mariadb_version.mariadb_version, @selected_filters_values[:mariadb_version])}
                            = mariadb_version.mariadb_version
                  .form-group.row
                    .col-3
                      %label{:for => "maxscale_source_select"} Maxscale source
                    .col
                      %select#maxscale_source_select.form-control{:multiple => "multiple", :name => "maxscale_source[]"}
                        %option{:value => "All", :selected => option_selected?("All", @selected_filters_values[:maxscale_source])} All
                        - @maxscale_source_options.each do |maxscale_source|
                          %option{:value => maxscale_source.maxscale_source, :selected => option_selected?(maxscale_source.maxscale_source, @selected_filters_values[:maxscale_source])}
                            = maxscale_source.maxscale_source
                  .form-group.row
                    .col-3
                      %label{:for => "box_select"} Box
                    .col
                      %select#box_select.form-control{:multiple => "multiple", :name => "box[]"}
                        %option{:value => "All", :selected => option_selected?("All", @selected_filters_values[:box])} All
                        - @box_options.each do |box|
                          %option{:value => box.box, :selected => option_selected?(box.box, @selected_filters_values[:box])}
                            = box.box
                  .form-group.row
                    .col-3
                      %label{:for => "jenkins_build_input"} Test run (Jenkins build id)
                    .col
                      %input#jenkins_build_input.form-control{:placeholder => "Example: 5-6, 10-12, 15", :type => "text", :name => "jenkins_build", :value => @selected_filters_values[:jenkins_build]}

                .col
                  .form-check
                    %input.form-check-input{id: "use_sql_query_check", type: "checkbox", value: "true", name: "use_sql_query", checked: !@selected_filters_values[:use_sql_query].nil?}
                    %label.form-check-label{:for => "use_sql_query_check"} Use SQL query

                  = render 'layouts/flashes'
                  .form-group
                    %span.input-group-text.align-items-start.justify-content-between
                      Example: SELECT * FROM test_run WHERE box = "centos_7_libvirt"
                      %button.btn.btn-sm.btn-link{"data-target" => "#sqlQueryHelpModal", "data-toggle" => "modal", :type => "button"}
                        = ion_icon('help-circled')
                    %textarea#sql_query_textarea.form-control{:rows => "4", :type => "text", :name => "sql_query"}
                      = @selected_filters_values[:sql_query]

              / row with hidden fields (for pagination)
              .row
                %input#pageNum.form-control{:type => 'hidden', :name => "page_num", :value => @selected_filters_values[:page_num]}
                %input#tableColumnsCount.form-control{:type => 'hidden', :name => "table_columns_count", :value => @selected_filters_values[:table_columns_count]}
                %input#tablePagesCount.form-control{:type => 'hidden', :name => "table_pages_count", :value => @selected_filters_values[:table_pages_count]}

              .row.align-items-center
                .col
                  .form-group.mb-0
                    %button#selectTestsButton.btn.btn-outline-dark.btn-block{:type => "button",  :'data-toggle' => "modal", :'data-target' => "#selectTestsModal"} Select tests
                .col
                  .form-check
                    %input.form-check-input{id: "hide_passed_tests_check", type: "checkbox", value: "true", name: "hide_passed_tests", checked: !@selected_filters_values[:hide_passed_tests].nil?}
                    %label.form-check-label{:for => "hide_passed_tests_check"} Hide the passed tests
                .col
                  %button#submitButton.btn.btn-primary.btn-block{:type => "submit"} Submit
              = render 'select_tests_modal'
              = render 'sql_query_help_modal'

      .row.mt-3
        .col-auto
          = render 'table_pagination'
        .col-auto
          .form-group.row
            %label.col-form-label{:for => "itemsPerPageCountSelect"} Test runs per page
            .col
              %select#itemsPerPageCountSelect.form-control.form-control{'data-items-per-page-count' => 20}
                %option{value: 5} 5
                %option{value: 10} 10
                %option{value: 20} 20
                %option{value: 30} 30
                %option{value: 50} 50
        .col-auto
          .form-group.row
            %label.col-form-label
              = '(Total count: ' + @filtered_test_runs_count.to_s + ')'
      .row
        .col
          .sticky-table.sticky-headers.sticky-ltr-cells
            %table#main-table.table-bordered.table-hover.table.table-sm{pagination: "true", 'rows-count' => @tests_names.size}
              %thead
                %tr.sticky-row
                  %th.sticky-cell.v-align-middle{:scope => "col"} Test Name \ Tests Run
                  - @test_runs.each do |test_run|
                    %th.text-center.v-align-top{:scope => "col"}
                      %button.btn.btn-link.simple-link{"data-content" => test_run_info(test_run), "data-toggle" => "popover", "data-placement" => "top", :title => "Info", :type => "button"}
                        = test_run['jenkins_id']
                      .xx-small-font
                        = test_run['maxscale_source']
                        %br
                        = test_run['target']
                        %br
                        = test_run['start_time'].to_s.delete 'UTC'
              %tbody
                - @tests_names.each do |test_name|
                  %tr
                    %th.sticky-cell{:scope => "row"}
                      = test_name

                    - @test_runs.each do |test_run|
                      %td.text-center
                        - test_result = test_result(@final_result, test_run, test_name)
                        %a{href: test_logs_url(test_run['logs_dir'], test_name), class: icon_color(test_result)}
                          = ion_icon (format_test_result test_result)