!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title MaxscaleTestVisualizer
    = csrf_meta_tags
    = stylesheet_link_tag 'application', media: 'all'
    /, 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application'
    /, 'data-turbolinks-track': 'reload'

    %link{ href: 'https://fonts.googleapis.com/css?family=Roboto:400,700', rel: 'stylesheet' }
    %link{ href: 'https://fonts.googleapis.com/css?family=Roboto+Mono', rel: 'stylesheet' }
  %body
    = render 'layouts/navbar'

    - if user_signed_in?
      - if current_user.has_access?
        = yield
      - unless @auth_error.nil?
        .main-page-wrapper.access-error-message= @auth_error
    - else
      .main-page-wrapper
        = link_to "Sign in with GitHub", user_github_omniauth_authorize_path, class: 'btn btn-primary'
